.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
  font-size: 18px;
  text-align: left;
}

.transactionHistory thead {
  background-color: #222;
  color: white;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  border: 1px solid #ddd;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}

.transactionHistory tbody tr:nth-child(odd) {
  background-color: #fff;
}
